/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    margin: 0 0 0 20px;
    border-radius: 1px;
}

/* Form text input */

.form-wrapper input {
    width: 400px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 3px 3px 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 40px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #4B9741;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.form-wrapper button:hover {
    background: #60ae44;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    background: #60ae44;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #60ae44 transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before {
    border-right-color: #60ae44;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before {
    border-right-color: #60ae44;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.standalone-button {
    border-radius: 3px 3px 3px 3px !important;
}

.standalone-button:before {
    content: normal !important;
}

.searchTown {
    width: 460px;
    height: 260px;
    float: left;
}

#basicMap {
    height: 250px;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    min-width: 45%;
    min-height: 100%;
    margin: 0;
    float: left;
}

/* jQuery Autocomplete items */
.ui-widget {
    font-size: 0.8em !important;
}
